<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="mainContent">
    <div class="row mt-3">
        <div class="col-6" th:each="re : ${requests}">
            <div class="card w-100 mb-3">
                <div class="card-body">
                    <div class="d-flex">
                        <p th:if="${re.handled==true}"></p>
                        <p th:if="${re.handled==false}" style="color: #ff0600">*(Новая)</p>
                        <h4 class="card-title" th:text="#{request.requestFrom} + ' ' + ${re.userName}">
                        </h4>
                    </div>
                    <h5 class="text-muted" th:text="#{request.course} + ': ' + ${re.courses.getCourseName()}">
                    </h5>
                    <p th:text="#{request.comment} + ': ' + ${re.commentary}"></p>
                    <a th:href="@{'details/' + ${re.id} + '.html'}" class="btn btn-primary"
                       th:text="#{button.details}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>